# Byte-compiled / optimized / DLL files
__pycache__/

# Data
results.csv

# Folder
output-directory/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

chemdata-server.zip